.statistics {
  margin: 15px 0;
  font-size: 1.2rem;
}

.border {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
}

.countryCount {
  display: inline-block;
  min-width: 200px; 
  border-right: 2px solid #000;   
}

.sumPopulation {
  display: inline-block;
  min-width: 200px;
  margin-left: 20px;
}

.inputFilter {
  font-size: 2rem;
}